@import url(reset.css);
:root {
  --clr-primary-400: hsl(359, 93%, 61%);
  --clr-primary-500: hsl(120, 100%, 40%);

  --clr-base-0: hsl(0, 0%, 100%);
  --clr-base-200: hsl(0, 0%, 93%);
  --clr-base-300: hsl(0, 0%, 87%);
  --clr-base-600: hsl(0, 0%, 40%);
  --clr-base-900: hsl(0, 0%, 0%);
}

html,
body {
  background-color: var(--clr-base-0);
  font-family: "Work Sans", sans-serif;
  width: 100%;
  height: 100vh;
}
body {
  transition: all 0.5s;
  position: relative;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 14px;
  font-weight: 300;
}
button {
  border: 0;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
}
.grid-group {
  display: grid;
}

/* Desings of all the elements of the title section */
#general-details {
  color: white;
  padding-block: 1rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url(img/bgImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#general-details h1,
#general-details h2 {
  font-weight: 300;
  text-align: center;
}

#income-wrapper {
  margin-bottom: 8px;
  padding-right: 2.85rem;
  background-color: var(--clr-primary-500);
}
#expenses-wrapper {
  background-color: var(--clr-primary-400);
}
.card {
  box-shadow: 1px 1px 3px 1px rgba(102, 102, 102, 0.75);
  font-size: 12px;
  width: 330px;
  padding-inline: 0.5rem;
  padding-block: 8px;
  justify-content: space-between;
}
.title {
  color: var(--clr-base-900);
}
#total-precentage {
  align-self: center;
  text-align: center;
  padding-inline: 2px;
  font-size: 10px;
  width: 29px;
  margin-left: 8px;
  background-color: hsl(359, 93%, 71%);
}

/* Designs of all the elements of the form */
#new-input {
  position: relative;
  padding-block: 1rem;
  background-color: var(--clr-base-200);
  justify-content: center;
}
.dark-light-container {
  cursor: pointer;
  font-size: 1.25rem;
  position: fixed;
  left: 10px;
}
.dark-light-container:active {
  transform: translateY(2px);
}
#toLight {
  color: white;
  display: none;
}
#toDark {
}
.rotate {
  animation: rotate 2s forwards;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#new-input form {
  gap: 8px;
}
select {
  background-color: var(--clr-base-0);
  color: var(--clr-base-600);
  border: 1px solid var(--clr-base-300);
  padding-block: 2px;
  padding-right: 8px;
}
.income-field {
  background-color: var(--clr-base-0);
  color: var(--clr-base-600);
  outline: none;
  border: 1px solid var(--clr-base-300);
  font-size: 12px;
  padding-block: 4px;
  padding-inline: 8px;
}
.income-field::placeholder {
  color: var(--clr-base-600);
}
.income-field:focus {
  border: 1px solid var(--clr-primary-500);
}
.expense-field {
  background-color: var(--clr-base-0);
  color: var(--clr-base-600);
  outline: none;
  border: 1px solid var(--clr-base-300);
  font-size: 12px;
  padding-block: 4px;
  padding-inline: 8px;
}
.expense-field::placeholder {
}
.expense-field:focus {
  border: 1px solid var(--clr-primary-400);
}
#value {
  background-color: var(--clr-base-0);
  color: var(--clr-base-600);
  max-width: 4.5rem;
}
#add-input {
  position: relative;
  background-color: inherit;
  cursor: pointer;
}
#add-input:active {
  transform: translateY(1px);
}
.img-container {
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Designs of all the elements after the form */
#income-expenses {
  margin-top: 3rem;
  justify-content: center;
}
#data {
  padding-bottom: 3rem;
  min-width: 750px;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
#data h3 {
  padding-block: 8px;
  border-bottom: 1px solid var(--clr-base-300);
}
#income h3 {
  color: var(--clr-primary-500);
}
#expenses h3 {
  color: var(--clr-primary-400);
}

/* Design of each data card */
.data-card {
  color: var(--clr-base-600);
  padding-block: 8px;
  border-bottom: 1px solid var(--clr-base-300);
  padding-inline: 12px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.description-text {
  word-break: break-all;
  max-width: 200px;
}
#income .value-text {
  color: var(--clr-primary-500);
}
.new-expense-amount {
  color: var(--clr-primary-400);
}
.new-expense-precentage {
  align-self: center;
  margin-left: 12px;
  color: var(--clr-primary-400);
  text-align: center;
  font-size: 10px;
  width: 25px;
  background-color: hsl(359, 93%, 92%);
}
#cancel-btn {
  color: var(--clr-primary-400);
  /* transform: translateY(10%); */
  align-self: center;
  cursor: pointer;
  padding: 0;
  margin-left: 12px;
  /* border-radius: 50%; */
}
@media (max-width: 760px) {
  #data {
    min-width: 420px;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  #data {
    min-width: 300px;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .description-text {
    word-break: break-all;
    max-width: 150px;
  }
}

#overlay-message {
  display: none;
  transition: all 0.25s;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--clr-primary-400);
  background-color: var(--clr-base-200);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25%;
}
.btn-wrapper {
  text-align: center;
}
#close-message {
  transition: all 0.25s;
  background-color: var(--clr-primary-400);
  color: var(--clr-base-0);
  font-weight: 700;
  cursor: pointer;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  margin-block: 0.75rem;
  display: inline-block;
}
#close-message:hover {
  background-color: var(--clr-primary-500);
}
#close-message:active {
  transform: translateY(2px);
}
